APP_PORT=8080
DB_PORT=4407

DB_ROOT_PASSWORD=rootpwd
DB_USER=testuser
DB_PASSWORD=testpassword
DB_NAME=testdb

API_HACIENDA_ENV=development
API_HACIENDA_LOG_LEVEL=INFO
API_HACIENDA_CRYPTO_KEY=API_HACIENDA_MIGRATION_KEY_CHANGE_ME
